<div class="voting-booth-banner callout text-center lead margin-bottom-0 flex justify-center bg-[#f2fcfd] px-0 shadow-lg border-l-0" role="banner">
  <div class="flex md:w-4/6">
    <div class="w-3/6 text-center text-2xl flex justify-start items-center">
      <%= t(".notification") %>
    </div>

    <div class="w-3/6 flex justify-end items-center">
      <button class="link m-bottom text-primary font-normal flex flex-col items-center" data-dialog-open="cancel-voting">
        <%= icon "close-line", class: "icon--small h-6 w-6 fill-[--primary]", role: "img", "aria-hidden": true %>
        <%= t("decidim.budgets.budgets.index.cancel_voting") %>
      </button>
    </div>
  </div>
</div>

