<div class="voting-booth-banner callout lead margin-bottom-0 bg-[#f2fcfd] px-0 shadow-lg border-l-0" role="banner">
  <div class="flex justify-between mx-auto w-5/6">
    <div class="voting-booth w-3/6 text-center text-md flex justify-start items-center md:text-2xl">
      <%= t(".notification") %>
    </div>

    <% unless action_name == "status" %>
      <div class="w-3/6 flex justify-end items-center">
        <button class="link m-bottom text-[--primary] text-md font-normal flex flex-col items-center md:text-lg" data-dialog-open="cancel-voting">
          <%= icon "close-line", class: "icon--small h-6 w-6 fill-[--primary]", role: "img", "aria-hidden": true %>
          <%= t("decidim.budgets.budgets.index.cancel_voting") %>
        </button>
      </div>
    <% end %>
  </div>
</div>

