/* css for decidim_budgets_booth */

#voting-help {
  .voting-help-item{
    @apply my-4 md:my-0;

    .circle{
      @apply block relative border-2 border-solid border-black rounded-full w-["150px"] h-["150px"] left-[20%] md:left-2.5;

      &.active{
        @apply fill-[#919191] border-4 border-solid border-[#919191];

        svg{
          @apply fill-[#919191];
        }
      }

      svg{
        @apply block relative fill-[#919191] top-[23px] left-[22px] w-[100px] h-[100px];
      }
    }

    .help-description{
      @apply mt-2 text-[1.2rem];

      span{
        &.strong{
          @apply font-extrabold;
        }
      }

      &.active{
        @apply text-black;
      }

      @apply text-[#919191] flex flex-col items-center text-center;
    }
  }

  .card{
    &.card--secondary{
      .filters__section:first-child{
        @apply hidden md:block;
      }
    }
  }
}

.card--list__icon{
  @apply mr-0;
}

.budget-summary__progressbox--fixed{
  @apply pt-2 pr-8 pb-4 pl-8 md:py-4 md:px-16;
}

.spaced-bottom{
  @apply mb-[0.3rem];
}

.budget-list{
  &__item{
    @apply mb-8 block md:mb-0 md:block border-background;
  }

  &__data{
    @apply justify-center;
  }
}

.flex-column{
  @apply flex-col md:flex-col;
}

.card{
  &.budget-summary{
    @apply flex flex-col;

    a{
      @apply mt-4 mr-0 mb-0;
    }
  }
}

.customized-budget{
  @apply m-auto;
}

.font-customizer{
  h2,
  h3{
    @apply text-[1.1rem];
  }
}

.voted-budget{
  @apply grayscale;
}

.flex-digits{
  @apply flex justify-between;

  .flex-digits-input{
    @apply flex flex-none;

    input{
      @apply mx-auto h-10 w-10 text-center sm:h-12 sm:w-12;
    }
  }
}

.zip-code-errors{
  .form-error{
    @apply mt-4;
  }
}

.booth-zipcode{
  &.thumbnail{
    @apply pr-1 pl-1;
  }

  &.maximum-width{
    @apply max-w-[430px];
  }
}

#affirm-checkbox{
  @apply font-bold mt-4;
}

.budget-summary {
  @apply text-center;
}

.budget-list__item {
  @apply flex flex-col border lg:w-full lg:flex-row lg:justify-between;

  .explore-link {
    @apply w-full lg:w-48 bg-[#f2fcfd];
  }

  .selected-project {
    @apply w-full lg:w-48 bg-[#e1fae8];
  }
}

.progressbox-fixed-wrapper {
  @apply bg-[#f2fcfd];
}

.budget__card__prevote {
  .budget__card__highlight-prevote__header {
    @apply flex flex-col items-center;

    .budget__card__highlight-prevote__text {
      @apply text-lg;
    }

    .budget__card__highlight-prevote__number {
      @apply font-bold text-2xl;
    }
  }

  .budget__card__prevote-explore-button {
    @apply mt-2 text-lg h-10 ;
  }
}

.start-vote-button {
  @apply rounded-none h-12 text-xl;
}

.pre-voting-budget-summary {
  @apply py-4 bg-[#f2fcfd];
}

.collection-sort-controls {
  @apply flex items-start;
}

.voting-rules {
  @apply text-xl my-4 w-4/6 mx-auto;

  .link {
    @apply text-lg font-semibold text-[--primary];
  }

  svg {
    @apply pt-0 fill-[--primary];
  }
}

.projects-link {
  @apply text-xl my-4 w-3/6 font-semibold text-[--primary];
}

.project-info {
  @apply h-min py-4 w-80 mt-24 bg-[#f2fcfd];

  .definition-data__title {
    @apply text-lg text-center;
  }

  .definition-data__number {
    @apply font-bold text-2xl mb-4;
  }

  .prevote-start-button {
    @apply h-12 text-xl;
  }
}

.vote-progress-container {
  @apply bg-[#f2fcfd];
}

.budget-summary__selected-item > div:nth-child(1) {
  @apply w-6/12 h-12;
}

.budget-summary__selected-item > div:nth-child(2),
.budget-summary__selected-item > div:nth-child(3) {
  @apply w-3/12 h-12;
}

.project-vote-button-container {
  @apply fill-[--primary];
}

#budget-confirm[data-dialog] [data-dialog-container] > :last-child {
  @apply col-span-2 col-start-1;
}

#budgets.card__list-list {
  @apply w-3/5 mx-auto lg:space-y-8 lg:mb-0;

  .card__highlight {
    @apply flex flex-col space-y-10 rounded-none ring-2 hover:ring-background lg:space-y-0 lg:flex-row;

    &-text {
      @apply mt-8;
    }

    > :not([hidden]) ~ :not([hidden]) {
      @apply max-[391px]:mt-0 max-[496px]:mt-2.5 p-2 mt-10 lg:mt-0;
    }

    .budget__card__highlight-vote {
      @apply bg-[#f2fcfd] p-0 mt-0 bg-[#f2fcfd] w-full min-[1280px]:w-3/12;

      &__header {
        @apply text-center;
      }

      &__text {
        @apply text-lg text-black;
      }

      &__number {
        @apply font-bold text-black text-2xl;
      }

      &__button {
        @apply w-4/6 h-12 text-xl mx-auto;

        &.button__secondary:hover {
          svg {
            @apply fill-white;
          };
        }

        &.button__transparent-secondary:hover {
          svg {
            @apply fill-[--primary];
          }
        }
      }
    }
  }
}

#voted-budgets {
  .budget__card__highlight-vote {
    @apply mt-0;
  }

  .card__highlight-text {
    @apply gap-0;
  }

  a {
    @apply pb-0;
  }
}

.progress-meter.budget-progress__meter {
  @apply bg-[#58a491];

  > span {
    @apply text-black;
  }
}

.progress-meter-text.progress-meter-text--right {
  @apply max-[380px]:hidden 2xl:right-1/4 2xl:pr-20 2xl:absolute;

  &--fixed {
    @apply max-[380px]:hidden 2xl:right-1/4 2xl:pr-20 2xl:absolute;
  }
}

.budget-summary__progressbox--fixed {
  @apply p-0;
}

.budget-summary__selected {
  p {
    @apply text-[--primary] font-semibold;
  }

  svg {
    @apply fill-[--primary];
  }
}

// Success image for status -view

.success-image {
  --success: #4a8d7c;

  width: 150px;
  height: 150px;
  margin: auto;

  .animation-success__checkmark {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: var(--success);
    stroke-miterlimit: 10;
    box-shadow: inset 0 0 0 #4bb71b;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.09s both;
    position: relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
  }

  .animation-success__checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: var(--success);
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .animation-success__checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes scale {
    0%,
    100% {
      transform: none;
    }

    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @keyframes fill {
    100% {
      box-shadow: inset 0 0 0 30 var(--success);
    }
  }
}

.status-choices {
  @apply flex justify-center items-center pb-10 text-2xl font-bold text-[--primary];

  svg {
    @apply fill-[--primary] h-6 w-6 mt-0;
  }
}

.project-action-container {
  @apply items-center py-4;

  a {
    @apply button__lg w-min mt-0;
  }
}

.filter {
  label {
    @apply flex items-center gap-2;

    [id^="dropdown-title-with_any_category_"] {
      @apply truncate max-w-[120px] block;
    }
  }
}
